<div class="m-auto max-w-2xl pt-1">
    <%- include('../../partials/backLink', { link: '/admin/chapters/?seasonId=' + seasonId }) %>
    <form id="chapterForm" method="post" enctype="multipart/form-data">
        <div class="flex gap-2">
            <div class="flex-1">
                <label for="number" class="block mb-2 text-lg font-medium <%= errors.number ? 'text-red-600' : '' %>">Number</label>
                <input type="number" min="0" id="number" name="number" value="<%= chapter.number %>"
                    class="block w-full p-2.5 text-lg bg-darkPurple-800
                        focus:outline-none
                    <%= errors.number ? 'text-red-600' : '' %>" autofocus required>
            </div>
            <div class="flex-1">
                <label for="name" class="block mb-2 text-lg font-medium <%= errors.name ? 'text-red-600' : '' %>">Name</label>
                <input type="text" id="name" name="name" value="<%= chapter.name %>"
                    class="block w-full p-2.5 text-lg bg-darkPurple-800
                        focus:outline-none
                    <%= errors.name ? 'text-red-600' : '' %>" required>
            </div>
        </div>
        <div class="mt-2">
            <label for="slug" class="block mb-2 text-lg font-medium <%= errors.slug ? 'text-red-600' : '' %>">Slug</label>
            <input type="text" id="slug" name="slug" value="<%= chapter.slug %>"
                class="block w-full p-2.5 text-lg bg-darkPurple-800
                    focus:outline-none
                <%= errors.slug ? 'text-red-600' : '' %>">
        </div>
        <div class="mt-2">
            <label for="desc" class="block mb-2 text-lg font-medium <%= errors.desc ? 'text-red-600' : '' %>">Description</label>
            <textarea id="desc" name="description" class="block w-full p-2.5 text-lg bg-darkPurple-800
                focus:outline-none
                <%= errors.desc ? 'text-red-600' : '' %>" required><%= chapter.description %></textarea>
        </div>
        <div class="flex gap-4 mt-4">
            <input id="poster" name="poster" type="file" accept="image/*" class="hidden peer" <%= chapter.poster ? '' : 'required'%>>
            <label for="poster" id="posterLabel" class="flex-1 self-center py-2.5 font-bold text-lg text-center text-black bg-yellow-500 rounded-sm <%= errors.poster ? 'text-red-600' : '' %>
                hover:text-yellow-500 hover:bg-black transition-colors">Poster <%- svg('hero-o-upload', 'inline-block w-6') %> </label>
            <img id="posterPreview" class="flex-1 h-48 object-contain <%= chapter.poster ? '' : 'hidden' %>" src="<%= chapter.posterUrl %>" alt="">
            <div id="posterPreviewPlaceholder" class="flex-1 flex items-center justify-center h-48 border-2 border-dashed border-gray-400 text-gray-700 <%= chapter.poster ? 'hidden' : '' %>">
                <%- svg('hero-s-photograph', 'inline-block w-14') %>
            </div>
        </div>
        <div class="flex gap-4 mt-4">
            <input type="text" id="source" name="source" value="<%= chapter.source %>"
                class="block w-full p-2.5 text-lg bg-darkPurple-800
                    focus:outline-none
                    <%= errors.slug ? 'text-red-600' : '' %>"
                placeholder="Source object" required>
        </div>
        <button id="beginSubmission" type="submit" class="mt-4 w-full py-2.5 font-bold text-lg text-black bg-yellow-500 rounded-sm
            hover:text-yellow-500 hover:bg-black transition-colors
            disabled:text-black/70 disabled:bg-yellow-300">
            Save <%- svg('hero-o-save', 'inline-block w-6') %>
        </button>
    </form>
</div>
<script>
    window.onload = () => {
        const getSourceUploadSignedUrl = '/admin/chapter/upload-url/';
        // const chapterSourceUrl = `/admin/chapter/${chapter.id}/source/?seasonId=${seasonId}`;

        const uploadPosterInput = document.getElementById('poster');
        const uploadPosterLabel = document.getElementById('posterLabel');
        const posterPreview = document.getElementById('posterPreview');
        const posterPreviewPlaceholder = document.getElementById('posterPreviewPlaceholder');
        uploadPosterInput.oninvalid = () => {
            if (!uploadPosterInput.files.length) {
                uploadPosterLabel.classList.add('text-red-600');
                //<%# have to do this 'cause text-red doesnt override the text-gray despite being declared later in the class attriute, i believe this is because text gray is declared later in the css file %>
                posterPreviewPlaceholder.classList.remove('text-gray-700');
                posterPreviewPlaceholder.classList.add('border-red-600', 'text-red-600');
            }
        };
        uploadPosterInput.addEventListener('change', () => {
            if (uploadPosterInput.files.length) {
                const file = uploadPosterInput.files[0];
                posterPreview.src = URL.createObjectURL(file);
                posterPreview.classList.remove('hidden');
                posterPreviewPlaceholder.classList.add('hidden');
            } else {
                posterPreview.src = null;
                posterPreview.classList.add('hidden');
                posterPreviewPlaceholder.classList.remove('hidden');
            }
        });
    };
</script>