<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Watch Adventure Time - Stakes - Islands - Distant Lands - Online Free - All episodes - Every episode <%= title ? ' | ' + title : '' %> </title>
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon.png">
    <%# TODO: use npm and bundle all in one script and css %>
    <link href="https://vjs.zencdn.net/7.18.1/video-js.css" rel="stylesheet" />
    <link href="https://unpkg.com/@videojs/themes@1/dist/sea/index.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.0.2/dist/css/splide.min.css">
    <script defer src="https://vjs.zencdn.net/7.18.1/video.min.js"></script>
    <script async src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.0.2/dist/js/splide.min.js"></script>
</head>
<body class="m-5 bg-darkPurple-900 text-white">
    <%- include('../partials/header') %>
    <main>
        <%- body %>
    </main>
    <%- include('../partials/footer') %>
    <%- script %> 
</body>
</html>